# MOUDULE 1 : Basics of Python and Ethical Hacking

In [ ]:
print("Hello World")

Hello World

## Variables in Python

In [25]:
name ="Linux"
age = 21
rating = 4.9
isActive = True
tools=["nmap", "wiresha", "brup"]

print(name,age,rating, isActive, tools)
print(name,age,rating, isActive, tools, sep="\n")


# print(f"{name}\n{age}\n{rating}\n{isActive}\n{tools}\n")
# print(tools[-1])
print(tools[::-1])
print(tools[::])


tupule1 =("akash",32, True ,"ak",[1,2,3],"AAAA")
print(tupule1[-1])

Linux 21 4.9 True ['nmap', 'wiresha', 'brup']
Linux
21
4.9
True
['nmap', 'wiresha', 'brup']
['brup', 'wiresha', 'nmap']
['nmap', 'wiresha', 'brup']
AAAA

In [31]:
value={
    name:"Akash",
    age:21,
    # grade:"A",

}
#   print(value)
for key in value:
    print(key ,"->", value[key])

Linux -> Akash
21 -> 21

In [81]:
#loop in python
#right angled triangle * pattern 
# *
# **
# ***
# ****


# n=5
# for i in range(1,n):
#     print("*"*i)


# n=5
# for i in range(n,0,-1):

#     print("*"*i)

# n=4
# for i in range(1,n):
#     print (" "*(n-i)+"*"*(2*i -1))
    

# row=int(input("Enter the row value:"))
n=5,
for i in range (1,n+1):
    for j in range(1,i+1):
        print((i+j)% 2,end=" ")
        print()

TypeError: can only concatenate tuple (not "int") to tuple

In [79]:
#functions in python 
n=int(input("Enter the required number:"))
def area(n):
    a=n*n
    return(a)

area(n)

16

In [124]:
def calcCircle(r):
    return(3.16*r*r)
def calcSquare(n):
    return (n*n)
def calcRectangle(l,b):
    return(l*b)
def exit():
    return 0

while True:
    print(" 1.Circle 2.Square 3.Rectangle 4.Exit")
    block=int(input("Enter the value which one do you want to calculate area:"))

    if (block ==1):
        r=float(input("Enter the value:"))
        a=calcCircle(r)
        print(f"the area is{a}")
    elif(block ==2):
        n=float(input("Enter the value:"))
        b=calcSquare(n)
        print(f"the area is{b}")

    elif(block ==3):
        l=float(input("Enter the value:"))
        b=float(input("Enter the value:"))

        c=calcRectangle(l,b)
        print(f"the area is{c}")
    else:
        
        exit()
        break

 1.Circle 2.Square 3.Rectangle 4.Exit
the area is12.64
 1.Circle 2.Square 3.Rectangle 4.Exit

In [99]:
#args and kwargs

In [108]:
#string

message="I am Ethical hacker"

words = message.split()

print(words)
join= "->".join(words)   
print(join)
print(message.upper())
print(message.lower())

['I', 'am', 'Ethical', 'hacker']
I->am->Ethical->hacker
I AM ETHICAL HACKER
i am ethical hacker

In [119]:
#permutation and combination

#calcutate the factorial 

n=int(input("Enter the value :"))
def fact(n):
    if(n==0):
        return 1
    else:
        return (n*fact(n-1))

fact(n)
print("the value is",fact(n))

the value is 6

#

#

# Permutation and Combination 

## Itertool text module:
- Iterate tool module helps to generate permutation and combinations using nested loops
- Product() all possible combination i.e. Cartesian product . It helps to generate multiple password combinations

In [123]:
import itertools

char ='ab1'
length =2

for combo in itertools.product(char, repeat=length):
    print(''.join(combo))

aa
ab
a1
ba
bb
b1
1a
1b
11

# Password and Combination

# Password and Combinations

| Charset                   | Size | Description                  |
|---------------------------|------|------------------------------|
| Digit only (0–9)          | 10   | Numbers from 0 to 9          |
| Lowercase Char (a–z)      | 26   | Lowercase English letters    |
| Uppercase Char (A–Z)      | 26   | Uppercase English letters    |
| Alpha + Numeric           | 36   | a–z and 0–9                  |
| AlphaNumeric + Uppercase | 62   | a–z, A–Z, and 0–9            |

# We are trying to attack the password then what can be the combinations


|Password length | Char Length    | Total Attempts |Time |
|----------------|----------------|----------------|-----|
|3 digit |10|10^3=1000|1 sec
|4 digit and lower case |26|26^4=456,976|7.5 min