In [2]:
print("Hello world")

Hello world

# Module1: Basics in python and ethical Hacking

### Variable in Python

In [ ]:
name = "Hacker"
age = 21 
rating = 4.9
is_Active = True

tools = ["nmap", "wireshak", "brup"]

#What will be the output of?
result = name+str(age)
print(result)

print(name, age, rating, is_Active, tools)

print(name,age,rating,is_Active,tools, sep="\n")
#to acessing last elements of the list
print(tools[::-1])
print(tools [0::]) 

tuple = (1,"Prabina",10.3,'c')
print(type(tuple[-1]))

dict = {"name": "prabina","age": 21,  "city": "Kathmandu"}

print(dict["name"])



i = 5
for i in range()

Hacker21
Hacker 21 4.9 True ['nmap', 'wireshak', 'brup']
Hacker
21
4.9
True
['nmap', 'wireshak', 'brup']
['brup', 'wireshak', 'nmap']
['nmap', 'wireshak', 'brup']
<class 'str'>
prabina

# Day 2

In [2]:
# loops in python

rows = 5

for i in range(1,rows +1):
    print("*" * i)

*
**
***
****
*****

In [5]:
''''Inverted pattern'''

rows = 5
for i in range(rows,0,-1):# (start, end , kati ley ghatayuni )
    print("*"*i)

*****
****
***
**
*

In [23]:
row = 6
for i in range(1,row):
    print(" "*(row-1) + "*"*(2*i-1))

     *
     ***
     *****
     *******
     *********

In [24]:
#0
#10
#010
#1010
#01010
rows = int(input("Enter the row value:"))
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print((i+j)%2, end="")

0
10
010
1010
01010

In [ ]:
'''calculate the area of square using function'''
def area(n,m):
    return n*m
print(area(5,10))

In [ ]:
def circle(r):
    return 3.14*r*r
def rect(l,b):
    return l*b
def square

['I', 'am', 'a', 'Ethical', 'Hacker.']

In [ ]:
# String 
message = "I am a Ethical Hacker."
Words=message.split()
print(Words)

In [3]:
message = "I am a Ethical Hacker."
Words=message.split()
print(message)
print(Words)

joined

I am a Ethical Hacker.
['I', 'am', 'a', 'Ethical', 'Hacker.']

NameError: name 'joined' is not defined

In [ ]:
# premutation and combination
n = int(input("Enter the number"))
def fact(n):
    if n==0 or n==1:
        return 1
    else:
        return n*fact(n-1)
print(fact(n))

720

# permutation and Combination

## Iteration tool module
- Iterate tool module helps to generate premutaion and combinations using nested loops
-  **product()** all possible combinations i.e. Cartician Product. it helps to generate multiple password combinations

In [ ]:
import itertools
char = '9823803983@'
length = 2
for combo in itertools.product(char, repeat=length):
    print(''.join(combo))

99
98
92
93
98
90
93
99
98
93
9@
89
88
82
83
88
80
83
89
88
83
8@
29
28
22
23
28
20
23
29
28
23
2@
39
38
32
33
38
30
33
39
38
33
3@
89
88
82
83
88
80
83
89
88
83
8@
09
08
02
03
08
00
03
09
08
03
0@
39
38
32
33
38
30
33
39
38
33
3@
99
98
92
93
98
90
93
99
98
93
9@
89
88
82
83
88
80
83
89
88
83
8@
39
38
32
33
38
30
33
39
38
33
3@
@9
@8
@2
@3
@8
@0
@3
@9
@8
@3
@@

# Password and Combinations

| Charset                   | Size | Description                  |
|---------------------------|------|------------------------------|
| Digit only (0–9)          | 10   | Numbers from 0 to 9          |
| Lowercase Char (a–z)      | 26   | Lowercase English letters    |
| Uppercase Char (A–Z)      | 26   | Uppercase English letters    |
| Alpha + Numeric           | 36   | a–z and 0–9                  |
| AlphaNumeric + Uppercase | 62   | a–z, A–Z, and 0–9            |

# we are try to attack the password then what can be the combinations

| Password Length | Character Set       | Set Size | Total Combinations      | Estimated Time          |
|-----------------|---------------------|----------|--------------------------|--------------------------|
| 3               | Digits (0–9)         | 10       | 10³ = 1,000              | 1 second                 |
| 4               | Lowercase (a–z)      | 26       | 26⁴ = 456,976            | ~7.6 minutes             |
| 5               | Lowercase (a–z)      | 26       | 26⁵ = 11,881,376         | ~3.3 hours               |
| 6               | Lowercase (a–z)      | 26       | 26⁶ = 308,915,776        | ~3.6 days                |
| 6               | Digits (0–9)         | 10       | 10⁶ = 1,000,000          | ~16.7 minutes            |
| 6               | Alphanumeric (a–z,0–9) | 36     | 36⁶ = 2,176,782,336      | ~25 days                |
| 6               | Lower + Upper (a–z, A–Z) | 52   | 52⁶ = 19,770,609,664     | ~229 days               |
| 6               | All ASCII (a–z, A–Z, 0–9, symbols) | 95 | 95⁶ ≈ 735 billion | ~23 years               |
| 7               | Lowercase (a–z)      | 26       | 26⁷ = 8,031,810,176      | ~93 days                |
| 8               | Digits only (0–9)    | 10       | 10⁸ = 100,000,000        | ~27.8 hours             |
| 8               | Lowercase (a–z)      | 26       | 26⁸ = 208,827,064,576    | ~6.6 years              |
| 8               | Alphanumeric (a–z,0–9) | 36     | 36⁸ ≈ 2.8 trillion        | ~89 years               |
| 8               | All ASCII (95 chars) | 95       | 95⁸ ≈ 6.6 quadrillion     | ~209,000 years          |
| 10              | Digits (0–9)         | 10       | 10¹⁰ = 10,000,000,000    | ~115 days               |
| 10              | Lowercase (a–z)      | 26       | 26¹⁰ ≈ 1.4 x 10¹⁴         | ~4,456 years            |
| 10              | Alphanumeric         | 36       | 36¹⁰ ≈ 3.6 x 10¹⁵         | ~114,000 years          |
| 10              | Full ASCII (95)      | 95       | 95¹⁰ ≈ 5.99 x 10¹⁹        | ~1.9 billion years      |

In [ ]:
from base64 import encode
import mysql.connector
import hashlib

# connect to mysql
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="MachineLearning"
)


cur=conn.cursor()
# cur.execute("SHOW DATABASES")
# conn.commit()
password='liz@n'
hased=hashlib.sha256(password.encode()).hexdigest()
cur.execute("INSERT INTO Users(UserName, Password) VALUES(%s, %s)", ('liz@n', hased))
conn.commit()



for cursor in cur:
    print(cursor)

: