# Module 1: Basics of Python and Ethical Hacking

In [1]:
print ("Hello World")

Hello World

# Variables in Python

In [2]:
name = "Hacker"
age = 21
rating = 4.9
is_Active = True 

tools = ["map", "wireshack", "brup"]

#What will be the output of?
result = name+str(age)
print(result)

print(name, age, rating, is_Active, tools, sep="\n" )

#Accessing last element of the list
print(tools[::-1])

#Accessing first element to the last
print(tools[:-1])

tuple = (10, 20, 30, 40, 50, 60, 70)
print(tuple[-1])

print(type(tuple[-1]))

Hacker21
Hacker
21
4.9
True
['map', 'wireshack', 'brup']
['brup', 'wireshack', 'map']
['map', 'wireshack']
70
<class 'int'>

In [3]:
student = {
    "name": "Rudra Karki",
    "age": 21,
    "roll": 101
}

# Print the dictionary
print(student)

student = {
    "name": "Rudra karki",
    "age": 21,
    "roll": 101
}

# Loop through the dictionary and print key -> value
for key, value in student.items():
    print(f"{key} -> {value}")

{'name': 'Rudra Karki', 'age': 21, 'roll': 101}
name -> Rudra karki
age -> 21
roll -> 101

In [4]:
n=5
for i  in  range(1,n-1):
 print("*"*i)

*
**
***

In [5]:
n = 10
for i in range(1, n):
    print(" " * (n - i) + "*" * (2 * i - 1))

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************

In [6]:
row = 4
for i in range (1,  row+1):
    print(" "*(n-i)+"*"*(2*i-1))

         *
        ***
       *****
      *******

In [7]:
#Binary Hacker Triangle

'''
0
1 0
0 1 0
1 0 1 0
0 1 0 1 0 
'''

rows = int(input("Enter the row value"))
for i in range(1, row+1):
    for j in range(1, i+1):
        print((i+j)%2, end="")
    print()

0
10
010
1010

In [8]:
#Functions in Python

'''
    Calculate the area of square using function
'''
def calculateArea(a, b):
    return a*b

a = int(input("Enter the value of a"))
b = int(input("Enter the value of b"))

#call function

calculateArea(a, b)

8

In [9]:
import math  

def area_triangle(b, h):
    return 0.5 * b * h

def area_circle(r):
    return math.pi * r * r

def area_square(l):
    return l * l

def area_rectangle(l, b):
    return l * b

shape = int(input("Shape (1:Triangle, 2:Circle, 3:Square, 4:Rectangle): "))

if shape == 1:
    b = int(input("Base: "))
    h = int(input("Height: "))
    result = area_triangle(b, h)
    print("Area of Triangle:", result)

elif shape == 2:
    r = int(input("Radius: "))
    result = area_circle(r)
    print("Area of Circle:", result)

elif shape == 3:
    l = int(input("Side: "))
    result = area_square(l)
    print("Area of Square:", result)

elif shape == 4:
    l = int(input("Length: "))
    b = int(input("Breadth: "))
    result = area_rectangle(l, b)
    print("Area of Rectangle:", result)

else:
    print("Invalid choice!")

Area of Triangle: 4.5

#qwargs


# args 

def my_fuction():
args = (1,5,7)
my_function(*args)

In [10]:
#STRING

message = "I am a ethical hacker"
words = message.split()

print(message)
print(words)

joined = "->".join(words)
print(joined)

print(message.upper())
print(message.lower())

I am a ethical hacker
['I', 'am', 'a', 'ethical', 'hacker']
I->am->a->ethical->hacker
I AM A ETHICAL HACKER
i am a ethical hacker

In [11]:
#Calculate Factorial using Recursion

def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)

num = int(input("Enter a number: "))
print("Factorial is:", factorial(num))

Factorial is: 2

# Permutation and Combination

## Iterate tool module
- Iterate tool module helps to generate permutation and combination using nested loops 
- **product()** all possible combination i.e.e Cartician Product. It helps to generate multiple password combinations.

In [12]:
import itertools

char = 'abl'
length = 2

for combo in itertools.product(char, repeat = length):
    print(''.join(combo))

aa
ab
al
ba
bb
bl
la
lb
ll

In [13]:
import itertools

char = '123'
length = 3

for combo in itertools.product(char, repeat = length):
    print(''.join(combo))

111
112
113
121
122
123
131
132
133
211
212
213
221
222
223
231
232
233
311
312
313
321
322
323
331
332
333

# Password and Combinations 


| Charset                   | Size | Description                  |
|---------------------------|------|------------------------------|
| Digit only (0–9)          | 10   | Numbers from 0 to 9          |
| Lowercase Char (a–z)      | 26   | Lowercase English letters    |
| Uppercase Char (A–Z)      | 26   | Uppercase English letters    |
| Alpha + Numeric           | 36   | a–z and 0–9                  |
| AlphaNumeric + Uppercase  | 62   | a–z, A–Z, and 0–9            |

# We are trying to attack the password then what can be the combinations 

| Password Length | Character Set       | Set Size | Total Combinations      | Estimated Time          |
|-----------------|---------------------|----------|--------------------------|--------------------------|
| 3               | Digits (0–9)         | 10       | 10³ = 1,000              | 1 second                 |
| 4               | Lowercase (a–z)      | 26       | 26⁴ = 456,976            | ~7.6 minutes             |
| 5               | Lowercase (a–z)      | 26       | 26⁵ = 11,881,376         | ~3.3 hours               |
| 6               | Lowercase (a–z)      | 26       | 26⁶ = 308,915,776        | ~3.6 days                |
| 6               | Digits (0–9)         | 10       | 10⁶ = 1,000,000          | ~16.7 minutes            |
| 6               | Alphanumeric (a–z,0–9) | 36     | 36⁶ = 2,176,782,336      | ~25 days                |
| 6               | Lower + Upper (a–z, A–Z) | 52   | 52⁶ = 19,770,609,664     | ~229 days               |
| 6               | All ASCII (a–z, A–Z, 0–9, symbols) | 95 | 95⁶ ≈ 735 billion | ~23 years               |
| 7               | Lowercase (a–z)      | 26       | 26⁷ = 8,031,810,176      | ~93 days                |
| 8               | Digits only (0–9)    | 10       | 10⁸ = 100,000,000        | ~27.8 hours             |
| 8               | Lowercase (a–z)      | 26       | 26⁸ = 208,827,064,576    | ~6.6 years              |
| 8               | Alphanumeric (a–z,0–9) | 36     | 36⁸ ≈ 2.8 trillion        | ~89 years               |
| 8               | All ASCII (95 chars) | 95       | 95⁸ ≈ 6.6 quadrillion     | ~209,000 years          |
| 10              | Digits (0–9)         | 10       | 10¹⁰ = 10,000,000,000    | ~115 days               |
| 10              | Lowercase (a–z)      | 26       | 26¹⁰ ≈ 1.4 x 10¹⁴         | ~4,456 years            |
| 10              | Alphanumeric         | 36       | 36¹⁰ ≈ 3.6 x 10¹⁵         | ~114,000 years          |
| 10              | Full ASCII (95)      | 95       | 95¹⁰ ≈ 5.99 x 10¹⁹        | ~1.9 billion years      |

In [ ]:
import mysql.connector
from mysql.connector import Error

try:
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="rudra123",
        database="Machinelearning"
    )
    cur = conn.cursor()

    # Insert user
    cur.execute("INSERT INTO Users(UserName, Password) VALUES (%s, %s)", ('rudra12', 'rudra123'))
    conn.commit()  

    # Fetch users
    cur.execute("SELECT * FROM Users")
    rows = cur.fetchall()
    for row in rows:
        print(row)

except Error as e:
    print("Error:", e)
finally:
    if cur:
        cur.close()
    if conn:
        conn.close()

(24, 'hwjqfbvhdsvbhvdc', '441bc9547df83c0b29559f7f6a8fab6fe7bd568176714e11236a64c0acfc8116')
(25, 'havbhasnbc', 'fc21e5fcba402dbd29de2b79dbca56b1d1b3a9b1f694c970fcda4cfa7d8c9635')
(26, 'hrebvfhsnvbsfd', 'd784c8a926fb366a8e1a19775226b2d1c58faebe9b6a4944750c9414f7a09390')
(27, 'rudra123456789', '27cc6994fc1c01ce6659c6bddca9b69c4c6a9418065e612c69d110b3f7b11f8a')
(28, 'hello1234567', 'fa8591b73fa03e7d19d9c0db430ec6c36f73220624ca45502021284d0bbfcdcc')
(29, 'rudra', 'rudra123')
(30, 'rudra12345', '6fba6084aceb6298760818e53c3efab21d3e7e33716b694b64995206ec944d8a')
(32, 'jwebjabd;kjbdA', 'd4b8eee612dbe9982e7bdd88e0f6617be89143a778bcdc94012bbc391732e47d')
(33, 'rudrabahadurkarki', '6191e08def595aa12b37656221668d0beffa79a5a060235aeebaf866bd01e371')
(35, 'fdnsvbjksbvkjv54654jfkbvj', 'e3cba70a04c469d7e3e73373f90e58b85eb29ec39a7851d4c7850e865f267aef')
(36, 'rudra25514654324', '89594ed0c6048fe0e4a553de494685d364bad77afe611b81d8561ced2cdc7509')
(37, 'ewhkbfdj;afbd', '513931c0a4d3b034bda8e8264c4cd19bc1806a16514b4b273c63840d1c3c545d')
(38, 'whjbfknsbvksbdjk', '6980676f034896196bfb1c32c62d5a9c72ccf4fef669e7321eda03759ecd9b78')
(39, 'j;jbkjbkjhbkjbjb', '7c62795a433ca37a2b0b5cbc019ea9c89952e291142e172fe6b545e130609317')
(40, 'rudra123456987', '3cad99b509bc05953a87055836150ac1e760e83fcc325c59cfccf4f52038f5e0')
(41, 'rudrakarki123', '184484ff417bdf80fa085db17aa9dc69aad7bfbcf69d820345ec99ee90357a52')
(42, 'rudra1234', '714105a4fe714a18f4beeb846d110bcdc258b51cf8c9524cf436f28825b42d98')
(43, 'rudrabahadur123', '5e249a0f1af5390ea864e861b48f6971004cf195a13ccc79aba0a5916863bd91')
(44, 'rks', '317bc76645d377048f4b8e44d1c33b340fdccb1508cd2465c802a89935ddb890')
(46, 'rkss', 'a5922038a8160285ec19aa3ffc170bda726af3ac7763f704389e13062b14b562')
(47, 'helloguys', 'ac519275cc77a8f89e150aa78b94e9ab8ac85b68d15ced4a2958bbc54c8f0a15')
(48, 'rudrahello', '4fa29adcee14afec99bcb72a3093666e710c56d5a576eecbb3c95db2c0dc2485')
(50, 'hellorudra', '4c2d3abb9b47b729508e4c3b4b0e4e157fcf705d06929d58844108e66b00b1e4')
(51, 'rudrabdr', 'c8250c3ae7ecba9a6a2e0c7e698dfb8ca7c5252a746aed4273f6e336e6bb8752')
(52, 'sujal123', '0e1ea71dd365dd8ec61b56e78c6a4a6f2f235a2c34a60028cb3b1b01395c9176')
(53, 'rudra33', 'a994696540befd55c96017a162c7ae2685f2010a7fd3224c0ada25241913933b')
(55, 'rudra123456', 'eb5fdc8a4c17c753a78e88e347ea9d8d9bb8823f6bd39a52535af6c617dde9de')
(56, 'hello222', '7f4f593ee3ac429fd845f3d36cdfb52c7fa51daa7825669308a8d5ac83f0463b')
(73, 'rudra12', 'rudra123')

In [2]:
import mysql.connector
import hashlib
import time 
# Connect to MySQL
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="rudra123",
    database="MachineLearning"
)

cur = conn.cursor()

# Set the raw password and hash it
raw_password = 'rudra123456'
password = hashlib.sha256(raw_password.encode()).hexdigest()

# Insert the user
cur.execute("INSERT INTO Users(UserName, Password) VALUES (%s, %s)", ('rudra321', password))
conn.commit()

# Fetch and print all users
cur.execute("SELECT * FROM Users")
for cursor in cur:
    print(cursor)
    
time.sleep(2)

(24, 'hwjqfbvhdsvbhvdc', '441bc9547df83c0b29559f7f6a8fab6fe7bd568176714e11236a64c0acfc8116')
(25, 'havbhasnbc', 'fc21e5fcba402dbd29de2b79dbca56b1d1b3a9b1f694c970fcda4cfa7d8c9635')
(26, 'hrebvfhsnvbsfd', 'd784c8a926fb366a8e1a19775226b2d1c58faebe9b6a4944750c9414f7a09390')
(27, 'rudra123456789', '27cc6994fc1c01ce6659c6bddca9b69c4c6a9418065e612c69d110b3f7b11f8a')
(28, 'hello1234567', 'fa8591b73fa03e7d19d9c0db430ec6c36f73220624ca45502021284d0bbfcdcc')
(29, 'rudra', 'rudra123')
(30, 'rudra12345', '6fba6084aceb6298760818e53c3efab21d3e7e33716b694b64995206ec944d8a')
(32, 'jwebjabd;kjbdA', 'd4b8eee612dbe9982e7bdd88e0f6617be89143a778bcdc94012bbc391732e47d')
(33, 'rudrabahadurkarki', '6191e08def595aa12b37656221668d0beffa79a5a060235aeebaf866bd01e371')
(35, 'fdnsvbjksbvkjv54654jfkbvj', 'e3cba70a04c469d7e3e73373f90e58b85eb29ec39a7851d4c7850e865f267aef')
(36, 'rudra25514654324', '89594ed0c6048fe0e4a553de494685d364bad77afe611b81d8561ced2cdc7509')
(37, 'ewhkbfdj;afbd', '513931c0a4d3b034bda8e8264c4cd19bc1806a16514b4b273c63840d1c3c545d')
(38, 'whjbfknsbvksbdjk', '6980676f034896196bfb1c32c62d5a9c72ccf4fef669e7321eda03759ecd9b78')
(39, 'j;jbkjbkjhbkjbjb', '7c62795a433ca37a2b0b5cbc019ea9c89952e291142e172fe6b545e130609317')
(40, 'rudra123456987', '3cad99b509bc05953a87055836150ac1e760e83fcc325c59cfccf4f52038f5e0')
(41, 'rudrakarki123', '184484ff417bdf80fa085db17aa9dc69aad7bfbcf69d820345ec99ee90357a52')
(42, 'rudra1234', '714105a4fe714a18f4beeb846d110bcdc258b51cf8c9524cf436f28825b42d98')
(43, 'rudrabahadur123', '5e249a0f1af5390ea864e861b48f6971004cf195a13ccc79aba0a5916863bd91')
(44, 'rks', '317bc76645d377048f4b8e44d1c33b340fdccb1508cd2465c802a89935ddb890')
(46, 'rkss', 'a5922038a8160285ec19aa3ffc170bda726af3ac7763f704389e13062b14b562')
(47, 'helloguys', 'ac519275cc77a8f89e150aa78b94e9ab8ac85b68d15ced4a2958bbc54c8f0a15')
(48, 'rudrahello', '4fa29adcee14afec99bcb72a3093666e710c56d5a576eecbb3c95db2c0dc2485')
(50, 'hellorudra', '4c2d3abb9b47b729508e4c3b4b0e4e157fcf705d06929d58844108e66b00b1e4')
(51, 'rudrabdr', 'c8250c3ae7ecba9a6a2e0c7e698dfb8ca7c5252a746aed4273f6e336e6bb8752')
(52, 'sujal123', '0e1ea71dd365dd8ec61b56e78c6a4a6f2f235a2c34a60028cb3b1b01395c9176')
(53, 'rudra33', 'a994696540befd55c96017a162c7ae2685f2010a7fd3224c0ada25241913933b')
(55, 'rudra123456', 'eb5fdc8a4c17c753a78e88e347ea9d8d9bb8823f6bd39a52535af6c617dde9de')
(56, 'hello222', '7f4f593ee3ac429fd845f3d36cdfb52c7fa51daa7825669308a8d5ac83f0463b')
(73, 'rudra12', 'rudra123')
(79, 'rudra321', '6fba6084aceb6298760818e53c3efab21d3e7e33716b694b64995206ec944d8a')

In [3]:
import mysql.connector
import hashlib
import time
# Connect to MySQL
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="rudra123",
    database="MachineLearning"
)

cur = conn.cursor()

# Set the raw password and hash it
raw_password = 'rudra123456'
password = hashlib.sha256(raw_password.encode()).hexdigest()

# Check if the user already exists
cur.execute("SELECT COUNT(*) FROM Users WHERE UserName = %s", ('rudra12345',))
user_exists = cur.fetchone()[0]

if user_exists:
    print("User already exists. Skipping insert.")
else:
    # Insert the user
    cur.execute("INSERT INTO Users(UserName, Password) VALUES (%s, %s)", ('rudra12345', password))
    conn.commit()

# Fetch and print all users
cur.execute("SELECT * FROM Users")
for cursor in cur:
    print(cursor)
    
time.sleep(2)

User already exists. Skipping insert.
(24, 'hwjqfbvhdsvbhvdc', '441bc9547df83c0b29559f7f6a8fab6fe7bd568176714e11236a64c0acfc8116')
(25, 'havbhasnbc', 'fc21e5fcba402dbd29de2b79dbca56b1d1b3a9b1f694c970fcda4cfa7d8c9635')
(26, 'hrebvfhsnvbsfd', 'd784c8a926fb366a8e1a19775226b2d1c58faebe9b6a4944750c9414f7a09390')
(27, 'rudra123456789', '27cc6994fc1c01ce6659c6bddca9b69c4c6a9418065e612c69d110b3f7b11f8a')
(28, 'hello1234567', 'fa8591b73fa03e7d19d9c0db430ec6c36f73220624ca45502021284d0bbfcdcc')
(29, 'rudra', 'rudra123')
(30, 'rudra12345', '6fba6084aceb6298760818e53c3efab21d3e7e33716b694b64995206ec944d8a')
(32, 'jwebjabd;kjbdA', 'd4b8eee612dbe9982e7bdd88e0f6617be89143a778bcdc94012bbc391732e47d')
(33, 'rudrabahadurkarki', '6191e08def595aa12b37656221668d0beffa79a5a060235aeebaf866bd01e371')
(35, 'fdnsvbjksbvkjv54654jfkbvj', 'e3cba70a04c469d7e3e73373f90e58b85eb29ec39a7851d4c7850e865f267aef')
(36, 'rudra25514654324', '89594ed0c6048fe0e4a553de494685d364bad77afe611b81d8561ced2cdc7509')
(37, 'ewhkbfdj;afbd', '513931c0a4d3b034bda8e8264c4cd19bc1806a16514b4b273c63840d1c3c545d')
(38, 'whjbfknsbvksbdjk', '6980676f034896196bfb1c32c62d5a9c72ccf4fef669e7321eda03759ecd9b78')
(39, 'j;jbkjbkjhbkjbjb', '7c62795a433ca37a2b0b5cbc019ea9c89952e291142e172fe6b545e130609317')
(40, 'rudra123456987', '3cad99b509bc05953a87055836150ac1e760e83fcc325c59cfccf4f52038f5e0')
(41, 'rudrakarki123', '184484ff417bdf80fa085db17aa9dc69aad7bfbcf69d820345ec99ee90357a52')
(42, 'rudra1234', '714105a4fe714a18f4beeb846d110bcdc258b51cf8c9524cf436f28825b42d98')
(43, 'rudrabahadur123', '5e249a0f1af5390ea864e861b48f6971004cf195a13ccc79aba0a5916863bd91')
(44, 'rks', '317bc76645d377048f4b8e44d1c33b340fdccb1508cd2465c802a89935ddb890')
(46, 'rkss', 'a5922038a8160285ec19aa3ffc170bda726af3ac7763f704389e13062b14b562')
(47, 'helloguys', 'ac519275cc77a8f89e150aa78b94e9ab8ac85b68d15ced4a2958bbc54c8f0a15')
(48, 'rudrahello', '4fa29adcee14afec99bcb72a3093666e710c56d5a576eecbb3c95db2c0dc2485')
(50, 'hellorudra', '4c2d3abb9b47b729508e4c3b4b0e4e157fcf705d06929d58844108e66b00b1e4')
(51, 'rudrabdr', 'c8250c3ae7ecba9a6a2e0c7e698dfb8ca7c5252a746aed4273f6e336e6bb8752')
(52, 'sujal123', '0e1ea71dd365dd8ec61b56e78c6a4a6f2f235a2c34a60028cb3b1b01395c9176')
(53, 'rudra33', 'a994696540befd55c96017a162c7ae2685f2010a7fd3224c0ada25241913933b')
(55, 'rudra123456', 'eb5fdc8a4c17c753a78e88e347ea9d8d9bb8823f6bd39a52535af6c617dde9de')
(56, 'hello222', '7f4f593ee3ac429fd845f3d36cdfb52c7fa51daa7825669308a8d5ac83f0463b')
(73, 'rudra12', 'rudra123')
(79, 'rudra321', '6fba6084aceb6298760818e53c3efab21d3e7e33716b694b64995206ec944d8a')